

:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  

}

.card {
  border-radius: 20px;

  border-color:white;
  border-style:solid;
  color:white;
  padding:1rem;
}

.input_card {
  border-radius: 20px;
  border-color:white;
  border-style:solid;
  margin-top: 1rem;
  color:white;
  padding:0.7rem;
}
.input {
  width:100%;
  outline:none; 
  border:none;
  background-color: #242424;
}

