

:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  

}

.popup-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #222;
  color: white;
  padding: 1rem 2rem;
  border-radius: 20px;
  border: 2px solid white;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 20px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; 
}

.card {
  border-radius: 13px;
  margin-top: 12px;
  border-color:white;
  border-style:solid;
  color:white;
  padding:1rem;
}
.his_card {
  border-radius: 13px;
  margin-top: 12px;
  border-color:white;
  border-style:solid;
  color:white;
 
}



.model-select {
  padding: 6px 10px;
  border-radius: 13px;
  border: 1px solid #666;
  background: #222;
  color: white;
  font-size: 14px;
  width: 90%;
}


.model-select option {
  padding: 6px 10px;
  font-size: 14px;
  color: white;
}

.main{
   display: flex; 
   flex-direction: row;
}

.card-m{
  border-radius: 13px;
  margin-top: 12px;
  border-color:white;
  border-style:solid;
  color:white;
  padding:1rem;
  width: 70vw; 
  height: 70vh; 
  scrollbar-width: none; 
  overflow-y: scroll; 
  padding: 1rem;
}


@media (max-width: 768px) {
  .main {
    flex-direction: column; 
  }
  .card-m{
    width:fit-content
  }
}
.input_card {
  border-radius: 13px;
  border-color:white;
  border-style:solid;
  margin-top: 1rem;
  color:white;
  padding:0.7rem;
}
.input {
  width:100%;
  outline:none; 
  border:none;
  background-color: #242424;
}

